@font-face {
	font-family: "Satoshi";
	src: url("fonts/WEB/fonts/Satoshi-Regular.woff2") format("woff2");
}

body {
	font-family: "Satoshi", sans-serif;
	margin: 0 64px;
}

h1,
h2,
h3 {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

/* nav */
.navigation ul {
	list-style: none;
	display: flex;
	gap: 32px;
	padding: 0;
}

.navigation a {
	text-decoration: none;
	color: black;
	display: inline-block;
}

.navigation li:first-of-type {
	margin-right: auto;
}

.navigation li{
	position: relative;
}

/* animation */
.navigation a:hover::after {
	width: 100%;
}

.navigation a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 4px;
	background: rgb(248, 171, 57);
	border-radius: 10px;
	transition: width 0.3s ease-in-out;
}
